codepkg/flows/Teast.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>NewTaskToList</name>
        <label>NewTaskToList</label>
        <locationX>474</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>ListTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopByCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateTaskFields</name>
        <label>UpdateTaskFields</label>
        <locationX>474</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>NewTask.CustomDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewTaskToList</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Teast {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Teast</label>
    <loops>
        <name>LoopByCases</name>
        <label>LoopByCases</label>
        <locationX>252</locationX>
        <locationY>188</locationY>
        <assignNextValueToReference>CurrentCase</assignNextValueToReference>
        <collectionReference>ListCase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateTaskFields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsertTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertTasks</name>
        <label>InsertTasks</label>
        <locationX>256</locationX>
        <locationY>349</locationY>
        <inputReference>ListTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCases</name>
        <label>GetCases</label>
        <locationX>251</locationX>
        <locationY>82</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopByCases</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ListCase</outputReference>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <startElementReference>GetCases</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
